.get-started-container {
  background: #F8FAFB; }

button#dropdownMenuButton {
  background: #fff;
  border: 3px solid #1E87BC;
  color: #1E87BC;
  padding: 10px 20px;
  margin-bottom: 10px; }

.choiceButton {
  background: #fff;
  border: 3px solid #1E87BC;
  color: #1E87BC;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 250px; }

.choiceButton:active {
  background-color: #1E87BC; }

.choiceButton:hover {
  background-color: #1E87BC;
  cursor: pointer;
  color: white; }

p {
  margin: 0 !important; }

.center {
  text-align: center; }

.choiceTitle {
  font-size: 30px;
  text-align: center;
  color: #76767C;
  padding-bottom: 30px; }

.numbering {
  float: right;
  color: #76767C; }

.bottomSpace {
  padding: 30px; }

.square-box {
  width: 70%;
  overflow: hidden;
  background: #FFF;
  margin: auto;
  padding: 60px;
  box-shadow: 0px 0px 5px 5px #B8B8B8; }

button.btn.btn-primary {
  background: #1E87BC;
  padding: 10px 40px; }

.kiosk-representative {
  display: block;
  text-align: center;
  padding: 10px 20px;
  background: #EA960F; }

.kiosk-rep-title, .kiosk-hours {
  display: inline-block; }

.header-right {
  float: right; }
