@import 'globals/_colors.scss';
@import 'globals/_spacing.scss';

.get-started-container {
  background: $color-background-gray;
}

button#dropdownMenuButton {
  background: #fff;
  border: 3px solid $color-blue;
  color: $color-blue;
  padding: $padding-button;
  margin-bottom: $margin-bottom-small;
}


button.btn.btn-primary {
  background: $color-blue;
  padding: 10px 40px;
}

.kiosk-representative {
  display: block;
}

.kiosk-rep-title, .kiosk-hours {
  display: inline-block;
}
